#mainBanner {width:100vw; height:calc(80vh - 70px); margin-top:70px; padding:0 0 60px;}
#mainBanner .inner {position:relative; display:flex; align-items:center; width:100%; height:100%; max-width:1660px; margin:0 auto;}
.movieArea {}

.movieSlideArea {position: relative; overflow: hidden; width: 100%; height:100%; box-sizing: border-box;}
#movieSlideList {position: relative; display: flex; width: 100%; height:100%; transform: translate3d(0px, 0px, 0px); transition-duration: 500ms;}
#movieSlideList li {position:relative; display:flex; width: 100%; flex: 1 0 auto; overflow-clip-margin: content-box; overflow: clip; pointer-events: auto; transition: transform 0.3s ease; border-radius: 10px; overflow: hidden;}
#movieSlideList li > * {width:50%;}
#movieSlideList .tBox {position:relative; z-index:10; box-shadow:50px -20px 50px rgba(0,0,0,1); padding:100px 50px 0 30px;}
#movieSlideList .tBox > em {display:block; font-size:28px; font-weight:500; color:#fff;}
#movieSlideList .tBox > em span {color:#929292;}
#movieSlideList .tBox strong {display:block; font-size:60px; color:#cf1818; line-height:1; margin:10px 0 0}
#movieSlideList .tBox .info {display:flex; align-items:center; font-size:16px; color:#929292; margin:30px 0;}
#movieSlideList .tBox .desc {font-size:20px; color:#bcbcbc;}
#movieSlideList .tBox .date {position:relative; margin-right:8px; padding-right:8px;}
#movieSlideList .tBox .date + span {display:flex; align-items:center; gap:6px;}
#movieSlideList .tBox .date:before {content:''; position:absolute; top:50%; right:0; width:1px; height:50%; background:#bcbcbc; transform:translateY(-50%);}
#movieSlideList .tBox .average {color: rgb(199, 131, 75) }
#movieSlideList .tBox .star {color:rgb(199, 199, 75)}
#movieSlideList .iBox {position:relative; height:100%;}
#movieSlideList img {width:100%; height:100%; object-fit: cover; -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none;}
#movieSlideList img:first-child {filter: blur(5px); -webkit-filter: blur(10px); border-left:10px solid #000}
#movieSlideList img + img {position:absolute; top:50%; left:50%; width:50%; object-fit:scale-down; transform:translate(-50%, -50%);}

#mainSection {width:100%; background:#010101;}
#movieList {position:relative; display:flex;}
#movieList li {position:relative; height:70vh; min-height:600px; overflow:hidden; font-size:0; -webkit-transition: all .75s cubic-bezier(0,.72,.44,.99); -moz-transition: all .75s cubic-bezier(0, .72, .44, .99); -ms-transition: all .75s cubic-bezier(0, .72, .44, .99); -o-transition: all .75s cubic-bezier(0, .72, .44, .99); transition: all .75s cubic-bezier(0,.72,.44,.99);}
#movieList li:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.65)}
#movieList li.curr {width:85% !important;}
#movieList .tBox {position:absolute; top:0; left:50%; display:flex; flex-direction:column; align-items:center; justify-content:center; width:100%; max-width:600px; height:100%; text-align:center; padding:30px 40px; transform:translate(-50%, 100%); opacity:0;}
#movieList li.curr .tBox {opacity: 1; transform:translate(-50%, -20px); transition: all .35s cubic-bezier(0,.72,.44,.99) .4s;}
#movieList .tBox em {display:block; font-size:16px; font-weight:500; color:#fff;}
#movieList .tBox em span {color:#929292;}
#movieList .tBox strong {display:block; font-size:28px; color:#cf1818; line-height:1; margin:10px 0 0}
#movieList .tBox .info {display:flex; align-items:center; font-size:14px; color:#929292; margin:30px 0;}
#movieList .tBox .desc {font-size:16px; color:#bcbcbc;}
#movieList .tBox .date {position:relative; margin-right:8px; padding-right:8px;}
#movieList .tBox .date:before {content:''; position:absolute; top:50%; right:0; width:1px; height:50%; background:#bcbcbc; transform:translateY(-50%);}
#movieList .tBox .date + span {display:flex; align-items:center; gap:6px;}
#movieList .tBox .average {color: rgb(199, 131, 75) }
#movieList .tBox .star {color:rgb(199, 199, 75)}

#movieSlideList button, #movieList button {width:100%; max-width:180px; height:30px; color:#d4d4d4; background:#252525; border:0px; border-radius:5px; cursor:pointer; margin:15px 0 0 0; transition:all .35s ease;}
#movieList button {color:#252525; background:#d4d4d4;}
#movieSlideList button:hover, #movieList button:hover {color:#fff; background:#cf1818;}

@media (max-width: 1300px) {
  #mainBanner {height:600px}
  #movieSlideList .tBox > em {font-size:18px;}
  #movieSlideList .tBox strong {font-size:40px;}
  #movieSlideList .tBox .info {font-size:15px; margin:20px 0; }
  #movieSlideList .tBox .desc {font-size:16px;}
  #movieList .tBox em {font-size:14px;}
  #movieList .tBox strong {font-size:24px;}
  #movieList .tBox .info {font-size:15px; margin:15px 0; }
  #movieList .tBox .desc {font-size:15px;}
}

@media (max-width: 1160px) {
  #movieSlideList .tBox > em {font-size:16px;}
  #movieSlideList .tBox strong {font-size:38px;}
  #movieSlideList .tBox .info {font-size:14px; margin:20px 0; }
  #movieSlideList .tBox .desc {font-size:15px;}
  #movieList li {height:70vh}
  #movieList .tBox em {font-size:13px;}
  #movieList .tBox strong {font-size:22px;}
  #movieList .tBox .desc {font-size:13px;}
}